/*********************************************************************
*
*  Grid system 
*
*********************************************************************/

@import "nvGridVars";
@import "nvMixins";
// -----------------------------
// MATHS FUNCTIONS
// ------------------------------//
@function decimal-round ($number, $digits: 0, $mode: round) {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @if $mode == round {
        @return round($number * $n) / $n;
    } @else if $mode == ceil {
        @return ceil($number * $n) / $n;
    } @else if $mode == floor {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{ $mode } is undefined keyword.';
        @return $number;
    }
}

@function decimal-floor ($number, $digits: 0) {
    @return decimal-round($number, $digits, floor);
}

// -----------------------------
// DEFAULTS
// ------------------------------*/

$bodyMax: 1400px !default; //can be over-ridden by nvGridVars
$bodyMaxSlim: 980px !default; //can be over-ridden by nvGridVars
$gridCols: 12 !default; //can be over-ridden by nvGridVars
$boxSizing: border-box !default; //can be over-ridden by nvGridVars
$breakpoints: () !default; // check this hasn't been set by nvGridVars, else needs to be empty for grid generation


// -----------------------------
// Breakpoints
//------------------------------*/

@if(length($breakpoints) == 0) {
    $breakpoints: (
        "sm": 548px,
        "md": 768px,
        "lg": 1024px,
        "xl": 1280px
    ) ;
}

// ----------------------------- 
//    GUTTERS 
//------------------------------*/
$gutterValue: 28 !default;  // based on Piet & Diego's work 2.333% for 12 columns, 1.166% for 24 columns (12 * 2.333 = ~28 and 24 * 1.166 = ~28 too)
$gutter: percentage($gutterValue / $gridCols / 100);
$negativeGutter: percentage($gutterValue / $gridCols / 100 * -1);
$noMargin: 0 percentage($gutterValue / $gridCols / 100 * -1);

// ----------------------------- 
//    GRID WIDTH CALULATOR
// ------------------------------*/

$gridMap: (); //set an empty map for starters  
//this loop creates an array (a Sass "map") of possible column width percentages 
@for $x from 1 through $gridCols {
    $gridPercentage: percentage(decimal-floor(($x / $gridCols), 7));
    $gridMap: map-merge($gridMap, ("#{$x}": $gridPercentage));
}

//  General Styles
// Box sizing

*, *:before, *:after {
    //-moz-box-sizing: border-box; 
    //-webkit-box-sizing: border-box; 
    box-sizing: $boxSizing;
}

// Body //
.b {
    position: relative;
    max-width: $bodyMax;
    margin-left: auto;
    margin-right: auto;
}

// Body slim //
.b-s {
    max-width: $bodyMaxSlim;
}

// No grid padding  //
.ng-p {
    padding-left: $gutter; 
    padding-right: $gutter;
}

.ng-pr {
    padding-left: 0; 
    padding-right: $gutter;
}

.ng-pl {
    padding-left: $gutter; 
    padding-right: 0;
}

.ng-m {
    margin-left: $gutter; 
    margin-right: $gutter;
}

.ng-mr {
    margin-left: 0; 
    margin-right: $gutter;
}

.ng-ml {
    margin-left: $gutter; 
    margin-right: 0;
}

// Grid //
.g {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
    margin:0 $negativeGutter;
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);

   
}

.opera-only :-o-prefocus,

.g {
    word-spacing: -0.43em;
      &.align-middle {
      -ms-flex-align: center;
	  -webkit-align-items: center;
	  -webkit-box-align: center;
	  align-items:center;
    }
    &.align-bottom {
       
       @include align-items(flex-end);
    }
}
// Grid item //
.gi {
    @include inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    width: 100%;
    float: left;
}

.gi-p {
    @extend .gi;
    padding-left: $gutter;  
    padding-right: $gutter;
}

.gi-pr {
    @extend .gi;
    padding-right: $gutter; 
}

.gi-pl {
    @extend .gi;
    padding-left: $gutter; 
}

.gi-m {
    @extend .gi;
    margin-left: $gutter;  
    margin-right: $gutter;
}

.gi-ml {
    @extend .gi;
    margin-left: $gutter;  
}

.gi-mr {
    @extend .gi;
    margin-right: $gutter;
}

// Vertical align middle // 
.g-vam {
    align-items:center;
    -webkit-flex-align: center;
}

.g-vam .gi,
.g-vam .gi-p,
.g-vam .gi-pl,
.g-vam .gi-pr,
.gi-m {
    vertical-align:middle;
}


// grid generation including widths for given number of columns
@each $i in $gridMap {
  $key: nth($i, 1);
  $value: nth($i, 2);
  .gi-#{$key} { width: $value; } 
  .gi-m.gi-#{$key} { width: $value - ($gutter * 2); }
  .gi-mr.gi-#{$key}, .gi-mr.gi-#{$key} { width: $value - $gutter; }
  //indent
  .in-#{$key} { margin-left: $value; } 
  .gi-m.in-#{$key}, .gi-ml.in-#{$key} { margin-left: $value + $gutter; } 
}

//repeat for responsive breakpoints
@each $breakpoint, $width in  $breakpoints {
    @media (min-width: $width) {
        @each $i in $gridMap {
            $key: nth($i, 1);
            $value: nth($i, 2);
            .gi-#{$breakpoint}-#{$key} { width: $value; }
            .gi-m.gi-#{$breakpoint}-#{$key} { width: $value - ($gutter * 2); }
            .gi-ml.gi-#{$breakpoint}-#{$key},
            .gi-mr.gi-#{$breakpoint}-#{$key} { width: $value - $gutter; }
        }
        //indent
        .gi-#{$breakpoint}-pr { padding-left: 0; padding-right: $gutter; }
        .gi-#{$breakpoint}-pl { padding-right: 0; padding-left: $gutter; }
    }
}

