/*vars*/
// uncomment these to over-ride defaults in _nvGrid.scss

// $bodyMax: 1400px;
// $bodyMaxSlim: 980px;
// $gridCols: 24;
// $gutterValue: 10;
// $boxSizing: content-box;

// $breakpoints: (
//     "mobile": 548px,
//     "tablet": 768px,
//     "desktop": 1200px
// )